{% extends 'empleado/partials/basePromotora.html' %}
{% load static %}


{% block extra_css %}
    <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- dropzone css -->
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/ExamenHistorial.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
    <div class="row">
        <!-- <form method="post" id="formulario" autocomplete="off"> -->
            {% csrf_token %}
            <div class="col-3">
                <ul class="tabs" data-tabs="tabs">
                    <div class="nav flex-column nav-pills left-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <!-- <h5><b>OBJETIVOS</b></h5> -->
                        {% for item in pregunta %}<a class="nav-link" id="for_tabs-{{ forloop.counter }}" data-toggle="pill" href="#tabs-{{ forloop.counter }}" role="tab" aria-selected="false">{{ item }}</a>{% endfor %}
                        <br>
                        <!-- <h5><b>COMPETENCIAS</b></h5>
                        {% for item in preguntaCompetencia %}<a class="nav-link" id="for_tabs-{{ forloop.counter }}" data-toggle="pill" href="#tabs-{{ forloop.counter }}" role="tab" aria-selected="false">{{ item }}</a>{% endfor %} -->
                    </div> 
                </ul>
            </div>
            <div class="col-1">
                <div class="nav flex-column nav-pills" id="h-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-iniciar-tab" data-toggle="pill" href="#{{ item.titulo }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Inciar</a>
                    <a class="nav-link" id="v-pills-next-tab" data-toggle="pill" href="#{{ item.titulo }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Siguiente</a>
                    <a class="nav-link" id="v-pills-finalizar-tab" data-toggle="pill" href="#{{ item.titulo }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Finalizar</a>
                </div>
            </div>
            <div class="tab-content col-5" id="v-pills-tabContent">
                {% for item in pregunta %}
                <div class="tab-pane" id="tabs-{{ forloop.counter }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div
                        style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 500px;
                        width: 700px;
                        /* border: 1px solid black;
                        border-radius: 12px; */
                        ">
                        <div
                            style="
                                display: flex;
                                flex-direction: row;
                                height: 30px;
                                width: 80%;
                                border-radius: 12px;
                                margin-top: 50px;
                            "
                            >
                            <button
                                type="button"
                                style="
                                width: 25%;
                                background: red;
                                border-radius: 12px 0 0 12px;
                                border: none;
                                color: aliceblue;
                                "
                            >
                                0 - 40
                            </button>
                            <button style="border: none; width: 25%; background: yellow;">41 - 60</button>

                            <button style="border: none; width: 25%; background: greenyellow">61 - 80</button>

                            <button
                                style="border: none;
                                width: 25%;
                                background: rgb(0, 128, 0);
                                border-radius: 0 12px 12px 0;
                                "
                            >81 - 100</button>
                        </div>
                        <div id="tabs-{{ forloop.counter }}" class="mt-5">
                                <h4
                                style="border: none;
                                border-radius: 0 12px 12px 0;"
                            >{{ item }}</h4>
                            <!-- Cartera -->
                        </div>
                        <div class="text-content mt-5">
                            <div id="tabs-{{ forloop.counter }}" class="text-center">
                                <label for="">{{ item.descripcion }}</label>
                                <!-- #Gestionar adecuadamente el cobro de la cartera en cada uno de los proyectos de la UEN. -->
                            </div>
                            <svg
                                width="90"
                                height="24"
                                viewBox="0 0 241 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M240.061 13.0607C240.646 12.4749 240.646 11.5251 240.061 10.9393L230.515 1.3934C229.929 0.807612 228.979 0.807612 228.393 1.3934C227.808 1.97919 227.808 2.92893 228.393 3.51472L236.879 12L228.393 20.4853C227.808 21.0711 227.808 22.0208 228.393 22.6066C228.979 23.1924 229.929 23.1924 230.515 22.6066L240.061 13.0607ZM7.52946e-10 13.5L239 13.5L239 10.5L-7.52946e-10 10.5L7.52946e-10 13.5Z"
                                fill="black"
                                />
                            </svg>
                            <input class="percent" />
                            <label for="">%</label>
                        </div>
                        <div class="text-content mt-3">
                            <textarea class="text-area"></textarea>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        <!-- </form> -->
    </div>
    <div class="row mt-5">
            <div class="card">
                <div class="card-body">        
                    <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr class="table-warning">
                                <th>Fecha</th>
                                <th>Nombre Lider</th>
                                <th>pregunta</th>
                                <th>Auto Evaluación</th>
                                <th>Evaluación</th>
                                <th>observaciones</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for Evaluacion in EmpleadoEvaluacion %}
                            <tr>
                                <td>{{Evaluacion.fecha}}</td>
                                <td>{{Evaluacion.empleadonombre.NombreLider}}</td>
                                <td>{{Evaluacion.pregunta}}</td>
                                <td>{{Evaluacion.respuesta}}</td>
                                <td>{{Evaluacion.respuesta}}</td>
                                <td>{{Evaluacion.observacion}}</td>
                                <td>
                                <div class="dropdown">
                                        <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a href="#EditarEmpleadoCapacitacionInternoModal-{{forloop.counter}}" class="dropdown-item" data-bs-toggle="modal"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i>Editar</a></li>
                                            <li><a href="#" class="dropdown-item"  id="{{Capacitacion.Id_Empleadocapacitacioninterna}}" onclick="sweetDelete(this.id,this)"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i>Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    
<!-- EditarCapacitacionModal -->
{% for Capacitacion in EmpleadoCapacitacionesInternas %}
<div class="modal fade" id="EditarEmpleadoCapacitacionInternoModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="editcustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <form class="modal-content" action="UpdatePromotoraInterno/{{Capacitacion.Id_Empleadocapacitacioninterna}}" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Actualizar Capacitación De {{Capacitacion.NombresCapacitaciones.NombreCapacitacion}}</h5>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitación</label>
                    <div class="col-lg-9">
                        <input type="text" readonly value="{{Capacitacion.NombresCapacitaciones.NombreCapacitacion}}" name="" id="NombreCapacitacion" class="form-control" placeholder="Nombre Capacitacion..." required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="projectname" class="col-form-label col-lg-3">Nombre Empleado</label>
                    <div class="col-lg-9">
                        <input type="text" readonly value="{{Capacitacion.empleadonombre}}" name="empleadonombre" id="empleadonombre" class="form-control" placeholder="Nombre Empleado..." required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="projectname" class="col-form-label col-lg-3">Nombre Capacitador</label>
                    <div class="col-lg-9">
                        <input readonly type="text" value="{{Capacitacion.NombresCapacitaciones.NombreCapacitador}}" id="NombreCapacitador" name="" class="form-control" placeholder="Introducir Nombre Capacitador..." required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-form-label col-lg-3">Fecha Capacitación</label>
                    <div class="col-lg-9">
                        <input readonly type="text" value="{{Capacitacion.NombresCapacitaciones.FechaCapacitacion}}" id="NombresCapacitaciones" name="" class="form-control" placeholder="Introducir Fecha Capacitación..." required>
                        <input hidden type="text" value="{{Capacitacion.NombresCapacitaciones.Id_CreacionCapacitacion}}" id="NombresCapacitaciones" name="NombresCapacitaciones" class="form-control" placeholder="Introducir Nombre Capacitación..." required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="projectname" class="col-form-label col-lg-3">Link Evaluación</label>
                    <div class="col-lg-9">
                        <input readonly type="text" value="{{Capacitacion.NombresCapacitaciones.LinkEvaluacion}}" id="LinkEvaluacion" name="" class="form-control" placeholder="Introducir Link Evaluación..." required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="projectname" class="col-form-label col-lg-3">Nombre Área</label>
                    <div class="col-lg-9">
                        <input readonly value="{{Capacitacion.NombreArea}}" id="NombreArea" name="NombreArea" class="form-control" placeholder="Introducir Nombre Área..." required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="projectname" class="col-form-label col-lg-3">Nota</label>
                    <div class="col-lg-9">
                        <input type="text" value="{{Capacitacion.Nota}}" id="Nota" name="Nota" class="form-control input-mask" placeholder="Introducir Nota..." data-inputmask="'mask': '9.9'" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>
{% endfor %}
<!-- end modal -->
{% endblock %}

{% block extra_javascript %}
<!-- form mask -->
<script src="{% static 'libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

<!-- form mask init -->
<script src="{% static 'js/pages/form-mask.init.js' %}"></script>

<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/pages/EliminarEmpleadoCapacitacionInterno.js' %}"></script>

<!-- bootstrap datepicker -->
<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

<!-- dropzone plugin -->
<script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.js' %}"></script>    

<script src="{% static 'js/pages/tabs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
{% endblock %}