{% comment "" %} si el usuario es empleado {% endcomment %}
{% if request.user.empleado %}
    
    <h4>{{evaluacion}}</h4>
    <br>
    {% comment "" %} para ver una instancia ya resuleta de evaluacion {% endcomment %}
    {% if 'id' in request.resolver_match.kwargs %}
            {% comment "" %} ver objetivos ya enviados {% endcomment %}
            objetivos:
            {% for respuesta_objetivo in evaluacion.respuestas_objetivo.all %}
                {{respuesta_objetivo.objetivo}}: {{respuesta_objetivo.resultado_empleado}}% <br>
                {{respuesta_objetivo.observaciones_empleado}}<br>
                    
                {% if respuesta_objetivo.observaciones_lider %}
                    Respuestas del lider {{respuesta_objetivo.evaluacion.lider}}:<br>
                    {{respuesta_objetivo.observaciones_lider}}%<br>
                    {{respuesta_objetivo.resultado_lider}}
                {% else %}
                    <h4>El líder aún no ha respondido </h4>
                {% endif %}    
            {% endfor %}


            {% comment "" %} responder competencias luego de enviar objetivos {% endcomment %}
            responder competencias:
            <form method="post">
                {% csrf_token %}
                
                {% for pregunta, form in forms_competencia %}
                    <h2>{{ pregunta }}</h2>
                    {% for field in form %}
                        <div>
                            {{ field.label_tag }}: {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}



                <input type="submit" value="Submit" name="competencia">
            </form>

    {% else %}
        {% comment "" %} RESPONDER NUEVA evaluacion {% endcomment %}

            formulario de objetivos

            <form method="post">
                {% csrf_token %}
                
                {% for objetivo, form in forms_objetivo %}
                    <h2>{{ objetivo }}</h2>
                    {% for field in form %}
                        <div>
                            {{ field.label_tag }}: {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}



                <input type="submit" value="Submit" name="objetivo">
            </form>

            formulario de competencias
            <form method="post">
                {% csrf_token %}
                
                {% for pregunta, form in forms_competencia %}
                    <h2>{{ pregunta }}</h2>
                    {% for field in form %}
                        <div>
                            {{ field.label_tag }}: {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}



                <input type="submit" value="Submit" name="competencia">
            </form>



    {% endif %}



{% comment "" %} si el usuario es lider {% endcomment %}
    
{% else %}
        {% if request.user.lider %}
            Evaluación: {{evaluacion}}
            <br>

            Lider: {{lider}}
            <br>

            {% for respuesta in respuestas_objetivo.all %}
                {{respuesta.objetivo.nombre}}: {{respuesta.objetivo.descripcion}}
                <br>
                
            {% endfor %}    


        <form method="post">
            {% csrf_token %}
            {% for respuestaobjetivo, form in forms_objetivo %}
                <h2>{{ respuestaobjetivo }}
                    respuesta del EMPLEADO:
                    <br>
                    {{respuestaobjetivo.resultado_empleado}}%
                    <br>
                    {{respuestaobjetivo.observaciones_empleado}}
                </h2>
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}: {{ field }}
                    </div>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
        
        {% endif %}
{% endif %}