<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>

    <body>

        
    <br>
    <a class="btn btn-dark mx-4 px-2" href="{% url 'evaluaciones_empleado' %}"> <-- Volver</a>
    <br>


        <h1>{{ evaluacion }}</h1>
        <h2>Resultado final (según el evaluador): {{evaluacion.get_final_total|floatformat:1}}% (los objetivos valen 80 % y las competencias 20 %)</h2>

        <hr>
        <br>

        <h3>Objetivos</h3>
        <br>
        <h3>{{ evaluacion.porcentaje_objetivos_evaluado }} % total ( evaluado)</h3>
        <h3>{{ evaluacion.porcentaje_objetivos_evaluador }} % total ( evaluador)</h3>

        <br>

        <hr>
            <h4>Objetivo: </h4>
            <br>
            <p><strong>Descripción: </strong><p>
            
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Objetivo</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">% Evaluado%</th>
                        <th scope="col">% del Evaluador</th>
                    </tr>
                </thead>
                <tbody>            {% for respuesta in evaluacion.respuestas_objetivo.all %}
             
                    <tr>
                        <td>{{ respuesta.objetivo.nombre }}</td>
                        <td>{{ respuesta.objetivo.descripcion }}</td>
                        <td>{{ respuesta.resultado_evaluado }}%</td>
                        <td>{{ respuesta.resultado_evaluador }}%</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <br>


        <hr>




        <hr>
        <br>

        <h2>Competencias</h2>
        <br>
        <h3>{{ evaluacion.get_porcentaje_competencias_evaluado|floatformat:2 }} % total (evaluado)</h3>

        <h3>{{ evaluacion.porcentaje_competencias_evaluador|floatformat:2 }} % total (evaluador)</h3>


        <br>

        {% for competencia in competencias %}
        <hr>
            <h4>Competencia: {{ competencia.nombre }}</h4>
            <br>
            <p><strong>Definición general: </strong>{{ competencia.definicion }}<p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">DEFINICIÓN</th>
                        <th scope="col">% del Evaluado</th>
                        <th scope="col">Descripción del Evaluado</th>
                        <th scope="col">% del Evaluador</th>
                        <th scope="col">Descripción del Evaluador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subcompetencia in subcompetencias %}
                        {% if subcompetencia.competencia == competencia %}
                            {% for respuesta in evaluacion.respuestas_competencia.all %}
                            {% if respuesta.pregunta == subcompetencia %}

                        <tr>
                            <td>{{ subcompetencia.nombre }}</td>
                            <td>{{ respuesta.porcentaje_evaluado }}%</td>
                            <td>{{ respuesta.descripcion_evaluado }}</td>
                            <td>{{ respuesta.porcentaje_evaluador }}%</td>
                            <td>{{ respuesta.descripcion_evaluador }}</td>
                        </tr>
                        {% endif %}

                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <br>

        {% endfor %}

        <hr>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>
